Source: nvidia-power-manager
Section: devel
Priority: optional
Maintainer: "Dmitri Lapin" <lapin@cvisionlab.com>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools, python3-setuptools-scm
Standards-Version: 4.1.4
Homepage: https://github.com/dm0/nvidia-power-manager
X-Python3-Version: >= 3.2

Package: nvidia-power-manager
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, mesa-utils, bbswitch-dkms, gir1.2-appindicator3, python3-py3nvml
Description: Nvidia power manager applet to turn on / off discrete nvidia GPU.
